/* ---------------------------------------------------------------------
.hdg - Standard headings that aren't part of other components
------------------------------------------------------------------------ */
.hdg {
    line-height: 1.2;

}

.hdg_1 {
    font-size: 64px;
    color: #0f7a6b;
}

.hdg_2 {
    font-size: 26px;
}

.hdg_3 {
    font-size: 21px;
}

.hdg_4 {
    font-size: 18px;
}

.mix-hdg_wild {
    font-size: 52px;
    line-height: 1;
    color: rgb(150, 187, 163);
}