/* ---------------------------------------------------------------------
 Elements Styles
------------------------------------------------------------------------ */
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: var(--FONT_PRIMARY);
    font-size: var(--FONT_BASE_SIZE);
    line-height: 1;
    background-color: #1e1e1e;
    background-image: url('../media/images/nerdquest-bg.png');
    background-position: top center;
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed;
    color: white;

    @media (--BP_M) {
        background-size: contain;
    }
}
