/* ---------------------------------------------------------------------
 Elements Styles
------------------------------------------------------------------------ */
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: var(--FONT_PRIMARY);
    font-size: var(--FONT_BASE_SIZE);
    line-height: 1;
    background-color: #1e1e1e;
    color: white;
}
