

.input {
    box-sizing: border-box;
    padding: 3px;
    border: 2px solid #0f7a6b;
}


.input:disabled {
    background-color: gray;
}

.input::placeholder {
    text-align: center;
}

.mix-input_fill {
    width: 100%;
}