<div class="js-actionView">
    <div class="vr vr_x3">
        <h1 class="hdg hdg_1 u-textShadow u-center">NERDQUEST</h1>
        <div class="shieldBox u-center">
            <div class="hdg mix-hdg_wild u-textShadow2 js-actionView-points"></div>
        </div>
    </div>
    <div class="vr vr_x7">
        <h2 class="hdg hdg_2">Effects <span class="u-normal u-valign">(<span class="js-actionView-effectCount"></span>)</span></h2>
        <div class="js-actionView-effects"></div>
    </div>
    <div class="vr vr_x7">
        <h2 class="hdg hdg_2">Badges <span class="u-normal u-valign">(<span class="js-actionView-badgeCount"></span>)</span></h2>
        <div class="js-actionView-badges"></div>
    </div>
    <div class="vr vr_x7">
        <h2 class="hdg hdg_2">Items <span class="u-normal u-valign">(<span class="js-actionView-itemCount"></span>)</span></h2>
        <div class="js-actionView-items"></div>
    </div>
</div>
