<div class="js-actionView">
    <div class="vr vr_x4">
        <h1 class="hdg hdg_1 u-textShadow u-center">NERDQUEST</h1>
        <div class="shieldBox u-center">
            <div class="hdg mix-hdg_wild u-textShadow2 js-actionView-points"></div>
        </div>
    </div>
    <div class="vr vr_x4 u-center">
        <div class="">
            <button type="button" class="toggleBtn mix-toggleBtn_fillMobile js-actionView-auto" data-auto-type="post">Auto Post</button>
            <button type="button" class="toggleBtn mix-toggleBtn_fillMobile js-actionView-auto" data-auto-type="buff">Auto Buff</button>
            <button type="button" class="toggleBtn mix-toggleBtn_fillMobile js-actionView-auto" data-auto-type="protect">Auto Protect</button>
            <button type="button" class="toggleBtn mix-toggleBtn_fillMobile js-actionView-auto" data-auto-type="attack" disabled>Auto Attack</button>
        </div>
        <div class="vr vr_x2_inverse u-center">
            <input id="" type="text" name="" class="input u-center js-actionView-baseTarget" data-item-id="${value.Id[0]}" style="width: 105px;" placeholder="Auto-attack target">
        </div>
    </div>
    <div class="vr vr_x7">
        <h2 class="hdg hdg_2">Effects <span class="u-normal u-valign">(<span class="js-actionView-effectCount"></span>)</span></h2>
        <div class="js-actionView-effects"></div>
    </div>
    <div class="vr vr_x7">
        <h2 class="hdg hdg_2">Badges <span class="u-normal u-valign">(<span class="js-actionView-badgeCount"></span>)</span></h2>
        <div class="js-actionView-badges"></div>
    </div>
    <div class="vr vr_x7">
        <h2 class="hdg hdg_2">Items <span class="u-normal u-valign">(<span class="js-actionView-itemCount"></span> types)</span></h2>
        <div class="js-actionView-items"></div>
    </div>
    <div class="console js-actionView-console">
        <div>^ Log</div>
    </div>
</div>
