export const CONFIG = {
    URL: 'http://nerdquest.nerderylabs.com',
    URL_BASE: 'http://nerdquest.nerderylabs.com:1337',
    URL_POINTS: '/points',
    URL_ITEM: '/items/use',
    URL_QUEST: '/quest',
    URL_CLASS: '/class',
    URL_LEVELUP: '/levelup',
    URL_ABILITY: '/ability',
    IMG_PATH: '/assets/media/images',
    TARGET: '?target=',
    PAGE_TITLE: 'NQ',
    API_KEY: '', // YOUR UNIQUE API KEY
    REFRESH_SPEED: 1005,
    LEVEL_NAME: '', //Fill in spaces with %20
    ABILITY_NAME: '', //Fill in spaces with %20
};

export const FIREBASE_CONFIG = {
    apiKey: "",
    authDomain: "",
    databaseURL: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: ""
};