/* ---------------------------------------------------------------------
.vr - vertical rhythm, an abstract inter-modular object used to add space between elements
------------------------------------------------------------------------ */
:root {
    --vr-SPACE: 5px;
}

.vr {
    padding-bottom: 0;
}

/* Loop through space options
Uses simple variables (postcss-simple-vars) and loops (postcss-for) from PostCSS */
@for $i from 0 to 10 {
    .vr_x$(i) {
        padding-bottom: calc($i * var(--vr-SPACE));
    }
}

@media (--BP_S) {
    @for $i from 0 to 10 {
        .vr_x$(i)S {
            padding-bottom: calc($i * var(--vr-SPACE));
        }
    }
}

@media (--BP_M) {
    @for $i from 0 to 10 {
        .vr_x$(i)M {
            padding-bottom: calc($i * var(--vr-SPACE));
        }
    }
}
