{{#extend "layout"}}
    {{#content "body" mode="append" }}
        <div class="content content_buffer">
            <div class="sides sides_x2">
                <div class="js-app" data-loop="false">
                    {{>partials/_content}}
                </div>
            </div>
        </div>

    {{/content}}
{{/extend}}
