{{#extend "layout"}}
    {{#content "body" mode="append" }}
        <div class="content content_buffer">
            <div class="sides sides_x2">
                <div class="js-actionView">
                    <div class="vr vr_x7">
                        <h1 class="hdg hdg_1">NERD QUEST</h1>
                    </div>
                    <div class="vr vr_x7">
                        <h2 class="hdg hdg_2">Points (<span class="js-actionView-points"></span>)</h2>

                    </div>
                    <div class="vr vr_x7">
                        <h2 class="hdg hdg_2">Effects (<span class="js-actionView-effectCount"></span>)</h2>
                        <div class="js-actionView-effects"></div>
                    </div>
                    <div class="vr vr_x7">
                        <h2 class="hdg hdg_2">Items (<span class="js-actionView-itemCount"></span>)</h2>
                        <div class="js-actionView-items"></div>
                    </div>
                    <div class="vr vr_x7">
                        <h2 class="hdg hdg_2">Badges (<span class="js-actionView-badgeCount"></span>)</h2>
                        <div class="js-actionView-badges"></div>
                    </div>
                </div>
            </div>
        </div>

    {{/content}}
{{/extend}}
