{{#extend "layout"}}
    {{#content "body" mode="append" }}
        <div class="content content_buffer">
            <div class="sides sides_x2">
                <div class="js-reindex">
                    Reindexing....
                </div>
            </div>
        </div>

    {{/content}}
{{/extend}}
